<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celeb/create">Create a new celebritie</a>
<br />
<a href="/celeb/celebrities">All celebrities</a>
<br />
<a href="/movies/create">Create a new movie</a>
<br />
<a href="/movies/movies">All movies</a>